{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{#{% form_theme form 'Form/form_div_layout.twig' %}#}

{% block javascript %}
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
    <div class="ec-registerRole">
        <div class="ec-pageHeader">
            <h1>掲載をご希望のサロン様へ</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form method="post" action="{{ url('entry') }}" novalidate class="h-adr">
                    <div class="ec-borderedDefs">

                        <dl>
                            <dt>
                                <label class="ec-label">開業状況</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-radio">
                                    <div id="entry_sex">
                                        <input type="radio" id="open_status_1" name="open_status" value="1">
                                        <label for="open_status_1">
                                            <span>開業予定</span>
                                        </label>
                                        <input type="radio" id="open_status_2" name="open_status" value="2">
                                        <label for="open_status_2">
                                            <span>開業済み</span>
                                        </label>
                                    </div>


                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label class="ec-label" for="entry_company_name">貴店名</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-halfInput">
                                    <input type="text" id="name" name="name">
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label class="ec-label" for="entry_company_name">ご担当者名</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-halfInput">
                                    <input type="text" id="person_in_charge" name="person_in_charge">
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label class="ec-label" for="entry_company_name">貴店の業種</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-select">
                                    <select name="industry_type">
                                        <option>業種を選択</option>
                                        <option value="1">ヘアサロン</option>
                                        <option value="2">ネイル・まつげサロン</option>
                                        <option value="3">リラクサロン</option>
                                        <option value="4">エステサロン</option>
                                        <option value="5">その他</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label class="ec-label required">住所</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-zipInput"><span>〒</span>
                                    <input type="text" id="entry_postal_code" name="entry[postal_code]" required="required" class="p-postal-code" placeholder="例：5300001">
                                    <div class="ec-zipInputHelp">
                                        <div class="ec-zipInputHelp__icon">
                                            <div class="ec-icon"><img src="/html/template/default/assets/icon/question-white.svg" alt="">
                                            </div>
                                        </div><a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>郵便番号検索</span></a>
                                    </div>

                                </div>

                                <div class="ec-select">
                                    <select id="entry_address_pref" name="entry[address][pref]" required="required" class="p-region-id"><option value="" selected="selected">都道府県を選択</option><option value="1">北海道</option><option value="2">青森県</option><option value="3">岩手県</option><option value="4">宮城県</option><option value="5">秋田県</option><option value="6">山形県</option><option value="7">福島県</option><option value="8">茨城県</option><option value="9">栃木県</option><option value="10">群馬県</option><option value="11">埼玉県</option><option value="12">千葉県</option><option value="13">東京都</option><option value="14">神奈川県</option><option value="15">新潟県</option><option value="16">富山県</option><option value="17">石川県</option><option value="18">福井県</option><option value="19">山梨県</option><option value="20">長野県</option><option value="21">岐阜県</option><option value="22">静岡県</option><option value="23">愛知県</option><option value="24">三重県</option><option value="25">滋賀県</option><option value="26">京都府</option><option value="27">大阪府</option><option value="28">兵庫県</option><option value="29">奈良県</option><option value="30">和歌山県</option><option value="31">鳥取県</option><option value="32">島根県</option><option value="33">岡山県</option><option value="34">広島県</option><option value="35">山口県</option><option value="36">徳島県</option><option value="37">香川県</option><option value="38">愛媛県</option><option value="39">高知県</option><option value="40">福岡県</option><option value="41">佐賀県</option><option value="42">長崎県</option><option value="43">熊本県</option><option value="44">大分県</option><option value="45">宮崎県</option><option value="46">鹿児島県</option><option value="47">沖縄県</option></select>


                                </div>
                                <div class="ec-input">
                                    <input type="text" id="entry_address_addr01" name="entry[address][addr01]" required="required" class="p-locality p-street-address" placeholder="市区町村名(例：大阪市北区)">

                                </div>
                                <div class="ec-input">
                                    <input type="text" id="entry_address_addr02" name="entry[address][addr02]" required="required" class="p-extended-address" placeholder="番地・ビル名(例：西梅田1丁目6-8)">

                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label required" for="entry_phone_number">電話番号</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-telInput">
                                    <input type="text" id="entry_phone_number" name="entry[phone_number]" required="required" placeholder="例：11122223333">

                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label required">メールアドレス</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-input">
                                    <input type="text" id="entry_email_first" name="entry[email][first]" required="required" placeholder="例：ec-cube@example.com">

                                </div>
                                <div class="ec-input">
                                    <input type="text" id="entry_email_second" name="entry[email][second]" required="required" placeholder="確認のためもう一度入力してください">

                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label required">パスワード</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-input">
                                    <input type="password" id="entry_password_first" name="entry[password][first]" required="required" placeholder="半角英数記号8〜32文字">

                                </div>
                                <div class="ec-input">
                                    <input type="password" id="entry_password_second" name="entry[password][second]" required="required" placeholder="確認のためもう一度入力してください">

                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label class="ec-label" for="entry_company_name">貴店のURL</label>
                            </dt>
                            <dd>
                                <div class="ec-halfInput">
                                    <input type="text" id="url" name="url">
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label class="ec-label" for="question">ご質問・ご要望</label>
                            </dt>
                            <dd>
                                <div class="ec-input">
                                    <textarea name="question"></textarea>

                                </div>
                            </dd>
                        </dl>
                    </div>

                    <div class="ec-registerRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">{{ 'front.entry.agree'|trans }}</button>
                                <a class="ec-blockBtn--cancel" href="{{ url('homepage') }}">{{ 'front.entry.disagree'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
