{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}
    <style>
        
        .title_page {
            position: relative;
            border-bottom: 3px solid #d36985;
            color: #333;
        }
        .contents {
            width: 980px;
            min-height: 400px;
            padding-top: 20px;
            margin-bottom:50px
        }
        
        
        
    </style>
{% endblock stylesheet %}

{% block main %}


<div class="contents">
    <section>
        <h2 class="title_page">ポイントは足りません。</h2>
    </section>
    
</div>
</form>
{% endblock %}
